<div>
    <div class="container">
      <h2>NAJWIĘKSZE HITY OSTATNICH MIESIĘCY:</h2>
      <div class="movies-container">
        <div *ngFor="let movie of movies" class="movie-card">
          <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title" />
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.release_date }}</p>
        </div>
      </div>
      <div class="list-container">
        <h2>ŚLEDŹ SWOJE FILMOWE POSTĘPY TWORZĄC PRYWATNĄ LISTE!</h2>
        <div class="list-button">
          <a type="button" class="btn btn-lg btn-dark" href="films/films-list">Przejdź do swojej listy filmów</a>
        </div>
      </div>
    </div>
</div>  
