<div class="d-flex vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <form (ngSubmit)="login()" class="w-100 p-4 border rounded bg-white shadow" #loginForm="ngForm">
          <h3 class="mb-4 text-center">Logowanie</h3>
          <div class="mb-3">
            <label for="loginIdentifier" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="loginIdentifier" name="identifier" [(ngModel)]="formUserData.identifier" required>
          </div>
          <div class="mb-3">
            <label for="loginUsername" class="form-label">Nazwa Użytkownika</label>
            <input type="text" class="form-control" id="loginUsername">
          </div>
          <div class="mb-3">
            <label for="userPassword" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="userPassword" name="password" [(ngModel)]="formUserData.password" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
            <label class="form-check-label" for="rememberMeCheckbox">Zapamiętaj mnie</label>
          </div>
          <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary w-100">Zaloguj</button>
        </form>
        <div *ngIf="message">{{ message }}</div>
      </div>
    </div>
  </div>
</div>