<div class="d-flex vh-100">
  <div class="container my-auto">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <form class="w-100 p-4 border rounded bg-white shadow">
          <h3 class="mb-4 text-center">Logowanie</h3>
          <div class="mb-3">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Nazwa Użytkownika</label>
            <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="passwordInput">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
            <label class="form-check-label" for="rememberMeCheckbox">Zapamiętaj mnie</label>
          </div>
          <button type="submit" class="btn btn-primary w-100">Zaloguj</button>
        </form>
      </div>
    </div>
  </div>
</div>