<form>
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
  </div>
    <div class="mb-3">
      <label for="username" class="form-label">Nazwa Użytkownika</label>
      <input type="text" class="form-control" id="usernameInput" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Hasło</label>
      <input type="password" class="form-control" id="passwordInput">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMeCheckbox">
      <label class="form-check-label" for="rememberMe">Zapamiętaj mnie</label>
    </div>
    <button type="submit" class="btn btn-primary">Zaloguj</button>
  </form>
