<div class="d-flex vh-100">
  <div class="container my-auto">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <form (ngSubmit)="signup()" class="w-100 p-4 border rounded bg-white shadow" #signupForm="ngForm">
          <h3 class="mb-4 text-center">Rejestracja</h3>
          <div class="mb-3">
            <label for="userName" class="form-label">Imię</label>
            <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" autocomplete="name">
          </div>
          <div class="mb-3">
            <label for="dateOfBirth" class="form-label">Data urodzenia</label>
            <input type="date" class="form-control" id="dateOfBirth" name="date">
          </div>
          <div class="form-group">
            <label for="genderSelect">Płeć</label>
            <select class="form-control" id="genderSelect">
              <option>wybierz</option>
              <option>kobieta</option>
              <option>mężczyzna</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="registerUsernameInput" class="form-label">Nazwa Użytkownika</label>
            <input type="text" class="form-control" id="registerUsernameInput" name="username" [(ngModel)]="formUserData.username" required autocomplete="username">
          </div>
          <div class="mb-3">
            <label for="registerEmail" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="registerEmail" name="email" [(ngModel)]="formUserData.email" required autocomplete="email">
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Hasło</label>
            <input type="password" class="form-control" id="registerPassword" name="password" [(ngModel)]="formUserData.password" required autocomplete="new-password">
          </div>
          <div class="mb-3">
            <label for="reInputPassword" class="form-label">Powtórz hasło</label>
            <input type="password" class="form-control" id="reInputPassword">
          </div>
          <button type="submit" class="btn btn-primary w-100" [disabled]="!signupForm.form.valid">Zarejestruj</button>
        </form>
        <div *ngIf="message">{{ message }}</div>
      </div>
    </div>
  </div>
</div>