<div class="d-flex vh-100">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <form class="w-100 p-4 border rounded bg-white shadow" (ngSubmit)="onSubmit($event)" #filmForm="ngForm">
            <a href="films/films-list"><img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/circled-left.png" alt="circled-left"/></a>
            <h3 class="mb-4 text-center">Szczegóły Filmu:</h3>
            <div class="mb-3">
              <label for="editUserFilmTitle" class="form-label">Tytuł</label>
              <input type="text" class="form-control" id="editUserFilmTitle" name="Title" [(ngModel)]="currentFilm.Title" required>
            </div>
            <div class="mb-3">
              <label for="editUserFilmDirector" class="form-label">Reżyser</label>
              <input type="text" class="form-control" id="editUserFilmDirector" name="Director" [(ngModel)]="currentFilm.Director" required>
            </div>
            <div class="mb-3">
              <label for="editUserFilmGrade" class="form-label">Ocena</label>
              <input type="number" min="1" max="10" class="form-control" id="editUserFilmGrade" name="Garde" [(ngModel)]="currentFilm.Grade">
            </div>
            <div class="mb-3">
              <label for="editUserFilmStatus" class="form-label">Status</label>
              <select type="string" class="form-select" id="editUserFilmStatus" name="FilmStatus" [(ngModel)]="currentFilm.FilmStatus" required>
                <option value="Watched">Obejrzane</option>
                <option value="ToWatch">Do oglądnięcia</option>
                <option value="Unfinished">Niedokończone</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="editUserFilmComment" class="form-label">Komentarz do filmu</label>
              <textarea class="form-control" id="editUserFilmComment" name="FilmComment" [(ngModel)]="currentFilm.FilmComment"></textarea>
            </div>
            <div class="mb-3">
              <label for="editUserFavourite" class="form-check-label">Dodać do ulubionych?</label>
              <input type="checkbox" class="form-check-input" id="editUserFavourite" name="Favourite" [(ngModel)]="currentFilm.Favourite">
            </div>
            <button [disabled]="!filmForm.valid" type="submit" name="action" value="save" class="btn btn-primary w-100 mb-2">Zapisz</button>
            <button type="submit" name="action" value="delete" class="btn btn-danger w-100">Usuń film</button>
          </form>
          <!-- <div *ngIf="message">{{ message }}</div> -->
        </div>
      </div>
    </div>
</div>